%h1 Add Entry
%form
  %fieldset
    .clearfix
      %label{:for => 'count'}
        Count (number, required)
      .input
        %input{:id => 'count', :type => 'text', :name => 'count', :value => 1}
    .clearfix
      %label{:for => 'unit'}
        Singular unit (rep, k, mile, gram)
      .input
        %input{:id => 'unit', :type => 'text', :name => 'unit'}
    .clearfix        
      %label{:for => 'noun'}
        Noun (pushups, protein)
      .input
        %input{:id => 'noun', :type => 'text', :name => 'noun'}
    .clearfix        
      %label{:for => 'verb'}
        Past tense verb (completed, ran, ate)
      .input
        %input{:id => 'verb', :type => 'text', :name => 'verb'}
    .clearfix
      .actions
        %input.btn.primary{:id => 'save', :type => 'submit', :value => 'Save'}
        